
name: my_workflow
on:
  pull_request:
    types: [opened,reopened]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: install dependencies
        run: npm ci
      - name: Run linter
        run: npm run lint
      - name: Run tests
        run: npm test
      - name: Run build
        run: npm run build
      - name: deploy
        run: echo "Deploying application..."
